@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('checkbox.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Roboto Mono', monospace;

  --primary-1: #8bc34a;
  --primary-2: #8bc34aa6;

  --neutral-1: #f8fafc;
  --neutral-2: #24232b;
  --neutral-3: #13121a;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--neutral-3);
  font-size: 1.6rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

#loker-img {
  width: 100px;
}

#title {
  color: var(--neutral-1);
  font-weight: 500;
  margin-bottom: 1rem;
}

#password-container {
  width: 450px;
  max-width: 45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--neutral-2);
  color: var(--neutral-1);
  border-radius: .8rem;
  padding: 1rem 1.8rem;
}

#password {
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #aab3a0a6;
  user-select: none;
}

#password.generated {
  color: var(--neutral-1);
  user-select: text;
}

#copy {
  background-color: transparent;
  border: none;
  color: var(--primary-1);
  height: 40px;
  width: 30px;
  cursor: pointer;
  transition: color .4s;
}

#copy:hover {
  color: var(--primary-2);
}

#password-items {
  width: 450px;
  background-color: var(--neutral-2);
  color: var(--neutral-1);
  border-radius: .8rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;
  padding: 1.8rem;
  font-size: 1.8rem;
}

#size {
  width: 130px;
  color: var(--primary-1);
  background-color: transparent;
  border: .1rem solid white;
  text-align: center;
  border-radius: .4rem;
  font-size: 1.8rem;
}

#size::-webkit-inner-spin-button,
#size::-webkit-outer-spin-button {
  opacity: 1;
}

#size:focus {
  outline: .1rem solid var(--primary-1);
}

#generate {
  background-color: var(--primary-1);
  border: none;
  margin-top: 1.2rem;
  padding: 1rem 0;
  border-radius: .4rem;
  color: var(--neutral-3);
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}